pkgbase = visual-studio-code-bin-manual
	pkgdesc = Visual Studio Code (vscode): Editor for building and debugging modern web and cloud applications (official binary version)
	pkgver = 1.97.0
	pkgrel = 1
	url = https://code.visualstudio.com/
	install = visual-studio-code-bin.install
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	license = custom: commercial
	depends = libxkbfile
	depends = gnupg
	depends = gtk3
	depends = libsecret
	depends = nss
	depends = gcc-libs
	depends = libnotify
	depends = libxss
	depends = glibc
	depends = lsof
	depends = shared-mime-info
	depends = xdg-utils
	depends = alsa-lib
	optdepends = glib2: Needed for move to trash functionality
	optdepends = libdbusmenu-glib: Needed for KDE global menu
	optdepends = org.freedesktop.secrets: Needed for settings sync
	optdepends = icu69: Needed for live share
	provides = code
	provides = vscode
	provides = visual-studio-code-bin
	conflicts = code
	source = code.desktop.in::https://raw.githubusercontent.com/microsoft/vscode/1.97.0/resources/linux/code.desktop
	source = code-url-handler.desktop.in::https://raw.githubusercontent.com/microsoft/vscode/1.97.0/resources/linux/code-url-handler.desktop
	source = code-workspace.xml.in::https://raw.githubusercontent.com/microsoft/vscode/1.97.0/resources/linux/code-workspace.xml
	source = visual-studio-code-bin.sh
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	source_x86_64 = code_x64_1.97.0.tar.gz::https://update.code.visualstudio.com/1.97.0/linux-x64/stable
	sha256sums_x86_64 = SKIP
	source_i686 = code_ia32_1.97.0.tar.gz::https://update.code.visualstudio.com/1.97.0/linux-ia32/stable
	sha256sums_i686 = SKIP
	source_aarch64 = code_arm64_1.97.0.tar.gz::https://update.code.visualstudio.com/1.97.0/linux-arm64/stable
	sha256sums_aarch64 = SKIP
	source_armv7h = code_armhf_1.97.0.tar.gz::https://update.code.visualstudio.com/1.97.0/linux-armhf/stable
	sha256sums_armv7h = SKIP

pkgname = visual-studio-code-bin-manual
